.empty {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
  color: #555;
}

/* Cart Container */
.cart-main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  /* Cart Items */
  .cart-items {
    width: 60%;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin: 20px;
  }
  
  .cart-item span {
    flex: 1;
  }
  
  .cart-item button {
    background-color: #ff5757;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  /* Order Details */
  .order-details {
    width: 30%;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .order-details h3 {
    text-align: center;
  }
  
  .cart-total {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
  }
  
  .cart-total span {
    font-weight: bold;
  }
  
  .checkout-btn {
    width: 100%;
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 60px;
  }
  
  .checkout-btn:hover {
    background-color: #45a049;
  }
  