
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    
    background-color: #fc8019;
    border-radius: 5px;
    color: black;
    font-weight: bold;
  }
  
  .logo {
    padding: 5px;
    width: 100px;
  }
  
  .app-name {
    padding: 5px; /* Adjust as needed */
    font-weight: bold;
    display: flex;
    align-items: center;
    color: white; /* Text color */
   
    font-size: 30px;
  }
  
  
  .nav-items {
    
    display: flex;
    align-items: center;
    
    
  }
  
  .nav-items > ul {
    list-style-type: none;
    display: flex;
    margin-left: 500px;
    
  }
  
  .nav-items > ul > li {
    padding: 20px;
    font-size: large;
    cursor: pointer;
    
  }

  /*search*/
  .search{
    display: flex;
    align-items: center;
    
  }
  .search-box{ 
    padding: 7px;
    align-items: center;
  }
  input {
    border: none;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 2px;
  }
  input:hover{
    border:1px solid #333;
  }
  
  .search-btn{
    padding: 8px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
  }
  .search-btn:hover {
    background-color: #45a049;
  }


  /* Added styles for login section */
  .profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 25px;
  }
  
  .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .toggle-button {
    font-size: 20px;
    color: #333;
    transition: transform 0.3s;
  }
  
  .toggle-button.active {
    transform: rotateX(180deg);
  }
  
  .options {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .option {
    padding: 10px;
    cursor: pointer;
  }
  
  .option:hover {
    background-color: #f5f5f5;
  }
  

  
/*Carousel*/



    

.filter-btn {
    padding: 8px;
    margin-right: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .filter-btn:hover {
    background-color: #fc8019;
  }

  
.restaurant-list {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 200px;
    border-radius: 5px;
    box-shadow: -1px 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 350px;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.card > img {
    width: 100%;
    border-radius: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card >h5{
  color:rgb(45, 44, 44); ;
}


.card > span{
  color:rgb(45, 44, 44);
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.card > span > h4{
  display: flex;
    align-items: center;
    background-color: rgb(19, 176, 1);
    border-radius: 5px;
    padding: 0 5px;
    color: white;
}


.footer {
    margin: 10px;
    text-align: center;
    background-color: #fc8019;
    padding: 20px 10px;
    border-radius: 5px;
}

.footer > i {
    padding: 0 5px;
    font-size: smaller;
}

.fa-heart {
    color: darkred;
}

.footer > strong {
    padding-left: 5px;
}

.footer > strong > span {
    color: rgb(203, 54, 0);
}

.shimmer-container{
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  
}

.shimmer-card {
  width: 200px;
  border-radius: 5px;
  height: 300px;
  background-color: #f0f0f0;
  padding: 10px;
  margin: 20px;
  
  
}
.shimmer-btn{
  width: 150px;
  padding: 15px;
  margin-right: 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* restaurant menu */
.menu-conatainer {
  margin-top: 80px;
  min-height: 80vh;
  width: auto;
}
.res-summary{
  display: flex;
  height: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.res-img{
  width: 250px;
  height: 170px;
  border-radius: 5px;
}
.res-summary-details{
  display: flex;
  justify-content: center;
  align-items: center;
}

.res-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.res-rating{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 8px;
  gap: 5px;
  background-color: var(--dark-green);
  border-radius: 5px;
  margin-left:300px ;
}
.menu-title-wrap{
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  height: 60px;
  color: black;
  font-size: large;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}
.menu-lists{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.menu-items{
  display: flex;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  height: 160px;
  width: 80%;
  padding: 10px;
  padding-left: 50px;
  margin: 10px;
  
}
.menu-details >h3 {
  color: rgb(82, 80, 80);
}
.menu-details >p {
  color: #6a6969;
}
.item-img-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 200px;
  overflow: hidden;
}
.item-img{
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
.img-btn{
  background-color: orange;
  color: var(--text-color);
  padding: 8px 25px;
  cursor: pointer;
  outline: none;
  border-color: var(--dark-orange);
  margin-top: 5px;
  border-radius: 5px;
  

}

.shimmer-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.shimmer-res-details{
  margin-top: 10px;
  height: 200px;
  border: 1px solid #ccc;
  background-color: hsl(0, 7%, 97%);

}
.shimmer-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shimmer-item{
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  height: 160px;
  width: 80%;
  margin-top: 50px;
}

